appdirs==1.4.4
certifi==2020.11.8
chardet==3.0.4
cldfbench==1.2.3
cldfcatalog==1.3.0
clldutils==3.5.4
colorlog==4.6.2
csvw==1.8.0
decorator==4.4.2
gitdb==4.0.5
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jdcal==1.4.1
-e git+https://github.com/lexibank/allenbai.git@09182ec6a3bcab1543d2c9c3b2c1f45e7c81b33d#egg=lexibank_allenbai
-e git+https://github.com/sequencecomparison/blustaustronesian@0ba938a64cf87845eefbd1336065d0298ef21f9c#egg=lexibank_blustaustronesian
-e git+https://github.com/lexibank/castrosui.git@000366fa232b51660dd188ef4c6388b47e452d33#egg=lexibank_castrosui
-e git+https://github.com/sequencecomparison/hattorijaponic@cbe2cd9104840d7b7ba9b1ac48e8db760b73a6fc#egg=lexibank_hattorijaponic
-e git+https://github.com/SequenceComparison/houchinese.git@d6193999d8f0e081dcc9c14cbf8b96c175670f5c#egg=lexibank_houchinese
-e git+https://github.com/sequencecomparison/kesslersignificance@b4713252af6fc5c3ef8276c0da9bb0bb22929591#egg=lexibank_kesslersignificance
-e git+https://github.com/lexibank/pharaocoracholaztecan.git@076ce6d585f60e8b3b5cce4c62226fa4882d7d28#egg=lexibank_pharaocoracholaztecan
-e git+https://github.com/sequencecomparison/starostinpie.git@c5780b5730cf14208184d15bc9e2797c9f671903#egg=lexibank_starostinpie
-e git+https://github.com/lexibank/transnewguineaorg.git@ab06081c6ede055ac0cd924d36847ab326f29458#egg=lexibank_transnewguineaorg
-e git+https://github.com/SequenceComparison/zhivlovobugrian.git@ade96ce2c1a2d85c66ae7298be93e267cec31f21#egg=lexibank_zhivlovobugrian
lingpy==2.6.6
Markdown==3.3.3
networkx==2.2
newick==1.0.0
numpy==1.19.4
openpyxl==3.0.5
pluggy==0.13.1
purl==1.5
py==1.9.0
pybtex==0.23.0
pycldf==1.17.0
pyclts==2.1.3
pyconcepticon==2.7.0
pycountry==20.7.3
pyglottolog==3.2.2
pylexibank==2.7.2
pytest==6.1.2
regex==2020.10.28
requests==2.24.0
rfc3986==1.4.0
segments==2.1.3
six==1.15.0
smmap==3.0.4
SQLAlchemy==1.3.20
tabulate==0.8.7
termcolor==1.1.0
tqdm==4.51.0
uritemplate==3.0.1
urllib3==1.25.11
xlrd==1.2.0